.vs/AppMarketingAnalysis/config/applicationhost.config
.vs/AppMarketingAnalysis/v16/.suo
AppMarketingAnalysis.Common/bin/Debug/AppMarketingAnalysis.Common.dll
AppMarketingAnalysis.Common/bin/Debug/AppMarketingAnalysis.Common.pdb
AppMarketingAnalysis.Common/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
AppMarketingAnalysis.Common/obj/Debug/AppMarketingAnalysis.Common.csproj.CoreCompileInputs.cache
AppMarketingAnalysis.Common/obj/Debug/AppMarketingAnalysis.Common.csproj.FileListAbsolute.txt
AppMarketingAnalysis.Common/obj/Debug/AppMarketingAnalysis.Common.csprojAssemblyReference.cache
AppMarketingAnalysis.Common/obj/Debug/AppMarketingAnalysis.Common.dll
AppMarketingAnalysis.Common/obj/Debug/AppMarketingAnalysis.Common.pdb
AppMarketingAnalysis.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppMarketingAnalysis.Dao/bin/Debug/AppMarketingAnalysis.Common.dll
AppMarketingAnalysis.Dao/bin/Debug/AppMarketingAnalysis.Common.pdb
AppMarketingAnalysis.Dao/bin/Debug/AppMarketingAnalysis.Dao.dll
AppMarketingAnalysis.Dao/bin/Debug/AppMarketingAnalysis.Dao.pdb
AppMarketingAnalysis.Dao/bin/Debug/AppMarketingAnalysis.Model.dll
AppMarketingAnalysis.Dao/bin/Debug/AppMarketingAnalysis.Model.pdb
AppMarketingAnalysis.Dao/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
AppMarketingAnalysis.Dao/obj/Debug/AppMarketingAnalysis.Dao.csproj.CoreCompileInputs.cache
AppMarketingAnalysis.Dao/obj/Debug/AppMarketingAnalysis.Dao.csproj.FileListAbsolute.txt
AppMarketingAnalysis.Dao/obj/Debug/AppMarketingAnalysis.Dao.csprojAssemblyReference.cache
AppMarketingAnalysis.Dao/obj/Debug/AppMarketingAnalysis.Dao.dll
AppMarketingAnalysis.Dao/obj/Debug/AppMarketingAnalysis.Dao.pdb
AppMarketingAnalysis.Dao/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppMarketingAnalysis.Model/bin/Debug/AppMarketingAnalysis.Model.dll
AppMarketingAnalysis.Model/bin/Debug/AppMarketingAnalysis.Model.pdb
AppMarketingAnalysis.Model/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
AppMarketingAnalysis.Model/obj/Debug/AppMarketingAnalysis.Model.csproj.CoreCompileInputs.cache
AppMarketingAnalysis.Model/obj/Debug/AppMarketingAnalysis.Model.csproj.FileListAbsolute.txt
AppMarketingAnalysis.Model/obj/Debug/AppMarketingAnalysis.Model.csprojAssemblyReference.cache
AppMarketingAnalysis.Model/obj/Debug/AppMarketingAnalysis.Model.dll
AppMarketingAnalysis.Model/obj/Debug/AppMarketingAnalysis.Model.pdb
AppMarketingAnalysis.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppMarketingAnalysis.Service/bin/Debug/AppMarketingAnalysis.Common.dll
AppMarketingAnalysis.Service/bin/Debug/AppMarketingAnalysis.Common.pdb
AppMarketingAnalysis.Service/bin/Debug/AppMarketingAnalysis.Dao.dll
AppMarketingAnalysis.Service/bin/Debug/AppMarketingAnalysis.Dao.pdb
AppMarketingAnalysis.Service/bin/Debug/AppMarketingAnalysis.Model.dll
AppMarketingAnalysis.Service/bin/Debug/AppMarketingAnalysis.Model.pdb
AppMarketingAnalysis.Service/bin/Debug/AppMarketingAnalysis.Service.dll
AppMarketingAnalysis.Service/bin/Debug/AppMarketingAnalysis.Service.pdb
AppMarketingAnalysis.Service/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
AppMarketingAnalysis.Service/obj/Debug/AppMarketingAnalysis.Service.csproj.CoreCompileInputs.cache
AppMarketingAnalysis.Service/obj/Debug/AppMarketingAnalysis.Service.csproj.FileListAbsolute.txt
AppMarketingAnalysis.Service/obj/Debug/AppMarketingAnalysis.Service.csprojAssemblyReference.cache
AppMarketingAnalysis.Service/obj/Debug/AppMarketingAnalysis.Service.dll
AppMarketingAnalysis.Service/obj/Debug/AppMarketingAnalysis.Service.pdb
AppMarketingAnalysis.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppMarketingAnalysis/bin/AppMarketingAnalysis.Common.dll
AppMarketingAnalysis/bin/AppMarketingAnalysis.Common.pdb
AppMarketingAnalysis/bin/AppMarketingAnalysis.Dao.dll
AppMarketingAnalysis/bin/AppMarketingAnalysis.Dao.pdb
AppMarketingAnalysis/bin/AppMarketingAnalysis.dll
AppMarketingAnalysis/bin/AppMarketingAnalysis.Model.dll
AppMarketingAnalysis/bin/AppMarketingAnalysis.Model.pdb
AppMarketingAnalysis/bin/AppMarketingAnalysis.pdb
AppMarketingAnalysis/bin/AppMarketingAnalysis.Service.dll
AppMarketingAnalysis/bin/AppMarketingAnalysis.Service.pdb
AppMarketingAnalysis/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
AppMarketingAnalysis/obj/Debug/AppMarketingAnalysis.csproj.CoreCompileInputs.cache
AppMarketingAnalysis/obj/Debug/AppMarketingAnalysis.csproj.FileListAbsolute.txt
AppMarketingAnalysis/obj/Debug/AppMarketingAnalysis.csprojAssemblyReference.cache
AppMarketingAnalysis/obj/Debug/AppMarketingAnalysis.dll
AppMarketingAnalysis/obj/Debug/AppMarketingAnalysis.pdb
AppMarketingAnalysis/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
