<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/kendo.material.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!--<script src="~/Scripts/AppDDL.js"></script>-->
</head>
<body>
    <div class="navbar navbar-header col-md-2 hidden-xs hidden-sm hidden-md" style="position: fixed;right:0px;top:0px;padding:0px;">
        <ul id="Chart_Introduction" class="nav navbar-nav navbar-right" style="width:92%;height:150px;background-color:blanchedalmond"></ul>
        <button type="button" id="Btn_Chart_Introduction" class="btn" style="float:right;padding:0px;width:8%;height:100px;" onclick="Zoom_Chart_Introduction()">圖<br>表<br>簡<br>介width:92%;height:150px;background-color:blanchedalmond<br>&#8618;</button>
    </div>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/AppMarketingAnalysis/Index" class="navbar-brand">AppMarketingAnalysis</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="navbar navbar-right navbar-fixed-top" style="background-color:aqua;">
        <ul class="nav navbar-nav navbar-right" style="background-color:brown">bbbbb</ul>
    </div>-->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p id="Time"></p>
        </footer>
    </div>
    <script>
        var nowDate = new Date();   //獲取當前時間
        $("#Time").html(nowDate.toLocaleString());
    </script>
</body>
</html>
