
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/AppMarketingAnalysis/Index"><h2>AppMarketingAnalysis</h2></a>
<hr />

<div id="Btn_Table" class="btn-group" role="group" aria-label="Btn Table">
    <button type="button" id="Btn_AppGrid" class="btn bb" value="AppGrid" onclick="SelectedTable(this); ">表格</button>
    <button type="button" id="Btn_Chart1" class="btn bb" value="Chart1" onclick="SelectedTable(this); ">app類別的成功率</button>
    <button type="button" id="Btn_Chart2" class="btn bb" value="Chart2" onclick="SelectedTable(this); ">app類別的關注率及討論</button>
    <button type="button" id="Btn_Chart3" class="btn bb" value="Chart3" onclick="SelectedTable(this); ">每一類別的競爭程度與競爭對手的數量</button>
    <button type="button" id="Btn_Chart4" class="btn bb" value="Chart4" onclick="SelectedTable(this); ">付費及免費app的討論熱度及民眾付費使用意願</button>
    <button type="button" id="Btn_Chart5" class="btn bb" value="Chart5" onclick="SelectedTable(this); ">近年來各類別有多少競爭者</button>
    <button type="button" id="Btn_Chart6" class="btn bb" value="Chart6" onclick="SelectedTable(this); ">app商機的考量</button>
</div>

<div id="Div_Table" class="row" style="border: 1px black solid;">
    <div id="SelectedOption" style="background-color:antiquewhite;height:30px;">
        <button type="button" id="Btn_SelectedOption" class="btn btn-info btn-sm" style="width:100%;">
            <div style="text-align: center;display:inline;">篩選條件</div>
            <div id="Btn_SelectedOptionIcon" style="display:inline;">&#9660;</div>
        </button>
    </div>

    <!--篩選條件-->
    <div id="Chart_Selected" class="Selected" style="margin-top:5px;">
        <form action="/AppMarketingAnalysis/Index" method="post">
            <div class="form-horizontal row">
                <div id="Div_AppName" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">APP名稱</label>
                    <div class="col-md-9 col-sm-9">
                        <input id="AppName" class="SelectedOption" type="text" value="" />
                    </div>
                </div>

                <div id="Div_Category" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">APP類別</label>
                    <div class="col-md-9 col-sm-9">
                        <select id="Category" class="SelectedOption" multiple="multiple"></select>
                    </div>
                </div>

                <div id="Div_Rating" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">評分</label>
                    <div class="col-md-9 col-sm-9">
                        <div id="Rating" class="SelectedOption" style="float:left;display:inline;">
                            <input />
                            <input />
                        </div>
                        <ul id="NoRating" class="SelectedOption" style="margin-left:10px;display:inline;"></ul>
                    </div>
                </div>

                <div id="Div_RatingCount" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">評分數量</label>
                    <div class="col-md-9 col-sm-9">
                        <input id="MinRatingCount" class="SelectedOption" type="number" title="numeric" value="0" />
                        ~
                        <input id="MaxRatingCount" class="SelectedOption" type="number" title="numeric" value="0" />
                    </div>
                </div>

                <div id="Div_InstallsRange" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">下載數量範圍</label>
                    <div class="col-md-9 col-sm-9">
                        <select id="MinInstallsRange" class="SelectedOption"></select>
                        ~
                        <select id="MaxInstallsRange" class="SelectedOption"></select>
                    </div>
                </div>

                <!--<div id="Div_InstallsCount" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">下載數量</label>
                    <div class="col-md-9 col-sm-9">
                        <input id="MinInstallsCount" class="SelectedOption" type="number" title="numeric" value="0" />
                        ~
                        <input id="MaxInstallsCount" class="SelectedOption" type="number" title="numeric" value="0" />
                    </div>
                </div>-->

                <div id="Div_Free" class="form-group">
                    <label for="Free" class="control-label col-md-2 col-sm-2">APP是免費還是付費</label>
                    <div class="col-md-9 col-sm-9">
                        <ul id="Free" class="SelectedOption"></ul>
                    </div>
                </div>

                <div id="Div_Price" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">APP價格</label>
                    <div class="col-md-9 col-sm-9">
                        <input id="MinPrice" class="SelectedOption" type="number" title="currency" value="0" />
                        ~
                        <input id="MaxPrice" class="SelectedOption" type="number" title="currency" value="0" />
                    </div>
                </div>

                <!--<div id="Div_Size" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">APP檔案大小</label>
                    <div class="col-md-9 col-sm-9">
                        <input id="MinSize" class="SelectedOption" type="number" title="numeric" value="0" />
                        <select id="MinSizeUnit" class="SelectedOption SizeUnit"></select>
                        ~
                        <input id="MaxSize" class="SelectedOption" type="number" title="numeric" value="0" />
                        <select id="MaxSizeUnit" class="SelectedOption SizeUnit"></select>
                    </div>
                </div>-->

                <div id="Div_DeveloperId" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">開發者名稱</label>
                    <div class="col-md-9 col-sm-9">
                        <input id="DeveloperId" class="SelectedOption" type="text" value="" />
                    </div>
                </div>

                <div id="Div_Released" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">APP發行日期</label>
                    <div class="col-md-9 col-sm-9">
                        <input id="MinReleased" class="SelectedOption" />
                        ~
                        <input id="MaxReleased" class="SelectedOption" />
                    </div>
                </div>

                <div id="Div_LastUpdated" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">APP最後更新日期</label>
                    <div class="col-md-9 col-sm-9">
                        <input id="MinLastUpdated" class="SelectedOption" />
                        ~
                        <input id="MaxLastUpdated" class="SelectedOption" />
                    </div>
                </div>

                <div id="Div_ContentRating" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">APP分級</label>
                    <div class="col-md-9 col-sm-9">
                        <ul id="ContentRating" class="SelectedOption"></ul>
                    </div>
                </div>

                <!--<div id="Div_AdSupported" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">APP內是否有廣告</label>
                    <div class="col-md-9 col-sm-9">
                        <ul id="AdSupported" class="SelectedOption"></ul>
                    </div>
                </div>-->

                <div id="Div_InAppPurchases" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">APP內是否有購買機制</label>
                    <div class="col-md-9 col-sm-9">
                        <ul id="InAppPurchases" class="SelectedOption"></ul>
                    </div>
                </div>

                <div id="Div_EditorChoice" class="form-group">
                    <label class="control-label col-md-2 col-sm-2">是否為編輯精選</label>
                    <div class="col-md-9 col-sm-9">
                        <ul id="EditorChoice" class="SelectedOption"></ul>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2 col-sm-2">
                    </div>
                    <div class="col-md-9">
                        <input type="button" id="Search" class="btn btn-info SelectedOption" value="查詢" />
                    </div>
                </div>
            </div>
        </form>
        <hr>
    </div>

    <!--AppGrid圖表區-->
    <div id="AppGrid" class="AppGrid Chart" style="margin-top:5px;">
        <h3>表格</h3>
    </div>

    <!--Chart1圖表區-->
    <!--<div style="width: 500px; height: 300px; position: absolute; right:50px; top:0px;margin-top:5px;">-->
    <div id="Chart1" class="Chart1 Chart" style="margin-top:5px;">
        <h3>app類別的成功率</h3>
        <canvas id="chart1" class="Chart1 Chart" width="700" height="450"></canvas>
    </div>

    <!--Chart2圖表區-->
    <div id="Chart2" class="Chart2 Chart" style="margin-top:5px;">
        <h3>app類別的關注率及討論</h3>
        <canvas id="chart2" class="Chart2 Chart" width="700" height="450"></canvas>
    </div>

    <!--Chart3圖表區-->
    <div id="Chart3" class="Chart3 Chart" style="margin-top:5px;">
        <h3>每一類別的競爭程度與競爭對手的數量</h3>
        <canvas id="chart3" class="Chart3 Chart" width="700" height="450"></canvas>
    </div>

    <!--Chart4圖表區-->
    <div id="Chart4" class="Chart4 Chart" style="margin-top:5px;">
        <h3>付費及免費app的討論熱度及民眾付費使用意願</h3>
        <div id="Chart4_3" class="Chart4 Chart col-md-6 col-sm-6" style="border-right: 1px black solid;border-bottom: 1px black solid;">
            <canvas id="chart4_3" class="Chart4 Chart" width="700" height="450"></canvas>
        </div>
        <div id="Chart4_4" class="Chart4 Chart col-md-6 col-sm-6" style="border-bottom: 1px black solid;">
            <canvas id="chart4_4" class="Chart4 Chart" width="700" height="450"></canvas>
        </div>
        <div id="Chart4_5" class="Chart4 Chart col-md-12 col-sm-12">
            <canvas id="chart4_5" class="Chart4 Chart" width="700" height="450"></canvas>
        </div>
    </div>

    <!--Chart5圖表區-->
    <div id="Chart5" class="Chart5 Chart" style="margin-top:5px;">
        <h3>近年來各類別有多少競爭者</h3>
        <canvas id="chart5" class="Chart5 Chart" width="700" height="450"></canvas>
    </div>

    <!--Chart6圖表區-->
    <div id="Chart6" class="Chart6 Chart" style="margin-top:5px;">
        <h3>app商機的考量</h3>
        <canvas id="chart6" class="Chart6 Chart" width="700" height="450"></canvas>
    </div>

    <!--<div id="NotFind" style="color:red;text-align:center;">查無資料</div>-->
    <!--<div id="NotSearchYet" style="color:red;text-align:center;">尚未查詢資料</div>-->
</div>

<div>
    <a href="/AppMarketingAnalysis/Index">回首頁</a>
</div>

<!--圖表的js檔-->

<script src="~/Scripts/Index.js"></script>


